<form action="#" class="form-inline">
  <input type="where" id="where" placeholder="Where?" class="form-control">
  <input type="when" id="when" placeholder="When?" class="form-control">

  <select id="guest" name="guest" class="form-control">
  <option value="1_guest">1 guest</option>
  <option value="2_guest">2 guests</option>
  <option value="3_guest">3 guests</option>
  </select>


  <input type="submit" value="Search" class="btn btn-success">


</form>
